html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #30363a;
  /* color: #cfc9c5; */
}

a {
  color: inherit;
  text-decoration: none;
  color: #cfc9c5;
}

* {
  box-sizing: border-box;
}
